body {
    height: 100%;
    background-color: #000000;
}

.sidebar {
    height: 100%;
    width: 315px;
    background-color: #437585;
    position:fixed;
}

.links a {
    position: relative;
    font-family: Impact, serif;
    font-size: 2em;
    top: 50px;
    color: #E7EFEF;
    left: 55px;
    text-shadow: 4px 7px 2px #000000;
}

.intro img {
  position: relative;
  right: 42px;
  top: 50px;

  

}
.container {
    position: fixed;
    left: 320px;
}

.container img {
    position: relative;
    left: 20px;
    bottom: 295px;
    

}

/*.container p {
    position: relative;
    top: 18px;
    color: #E7EFEF;
    font-size: 1em;
    margin-left: 10px

    
}
*/

.container p a {
    position: relative;
    text-align: center;
    top: -315px;
    left: 20px;
    font-size: 1.8em;
    color: #B2CCCC;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container p a:hover {
    color: #E0E066;

}

.blogpic {
    left: 50%;
}

.footer {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #437585;
    bottom: 0;
    font-size: 1.2em;
    left: 300px;
}


.photo {
    height: 200px;
    width: 200px;
    position: relative;
    top: 30px;
    left: 55px;
    border: 10px solid #666633;
    border-style: ridge;
}

h3 {
    text-align: center;
    position: relative;
    top: 10px;
    left: 5px;
    font-family: Impact, serif;
    color:  #E7EFEF;
    text-decoration: none;

}
/*
ul {
    position: relative;
    text-align: left;
    font-family: serif;
    font-size: 2em;
    font-style: bold;
    color: #63FFEE;
}
*/

div img {
    height: 200px;
    width: 200px;
}

.footer a {
    position: relative;
    left: 23%;
    bottom: 13px;
    color: #DFDFE9;
    display: inline-block;
    padding: 15px;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    text-shadow: 4px 7px 2px #000000

}

div a {
    display: inline-block;
    text-decoration: none;
}

.bloghead {
    position: relative;
    color:  #E0F0FF;
    margin-left: 25px; 
    text-decoration: underline;
    
}

.blogpic img {
    position: relative;
    left: 40%;
}

a:hover {
    color: #E0E066;
}
