body {
    height: 100%;
    background-color: #474724;
}

.sidebar {
    height: 100%;
    width: 315px;
    background-color: #292914;
    position:fixed;
}

.links a {
    position: relative;
    font-family: Impact, serif;
    font-size: 2em;
    top: 50px;
    color: #E7EFEF;
    left: 55px;
}

.intro p {
  position: relative;
  text-align: center;
  top: 20px;
  font-size: 1.1em;
  margin-left: 10px;
  padding: 10px;
  color: #E7EFEF;
  font-family: Impact, sans-serif;
  font-weight: 100;
  font-style: normal;

}
.container {
    position: absolute;
    left: 320px;
}


/*.container p {
    position: relative;
    top: 18px;
    color: #E7EFEF;
    font-size: 1em;
    margin-left: 10px

    
}
*/

.container p a {
    position: relative;
    text-align: center;
    left: 20px;
    font-size: 1.8em;
    color: #B2CCCC;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container p a:hover {
    color: #E0E066;

}

.blogpic {
    left: 50%;
}

.footer {
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #292914;
    bottom: 0;
    font-size: 1.2em;
    left: 300px;
}


.photo {
    height: 200px;
    width: 200px;
    position: relative;
    top: 30px;
    left: 55px;
    border: 10px solid #666633;
    border-style: ridge;
}

h3 {
    text-align: center;
    position: relative;
    top: 10px;
    left: 5px;
    font-family: Impact, serif;
    color:  #E7EFEF;
    text-decoration: none;

}
/*
ul {
    position: relative;
    text-align: left;
    font-family: serif;
    font-size: 2em;
    font-style: bold;
    color: #63FFEE;
}
*/

div img {
    height: 200px;
    width: 200px;
}

.footer a {
    position: relative;
    left: 30%;
    bottom: 7px;
    color: #E7EFEF;
    display: inline-block;
    padding: 20px;
    font-family: Impact, serif;
    font-variant: small-caps;

}

div a {
    display: inline-block;
    text-decoration: none;
}

.bloghead {
    position: relative;
    color:  #E0F0FF;
    margin-left: 25px; 
    text-decoration: underline;
    
}

.blogpic img {
    position: relative;
    left: 40%;
}

a:hover {
    color: #E0E066;
}
