/* include your css here */

 #sidebar {
        height: 100%;
        width: 250px;
        position: fixed;
        background-color: #5BABE1;
        text-align: center;
    }    
        
        #container {
        position: absolute;
        left: 275px;
        text-align: center;
        }
        
        h2 {
        color: red;
        text-weight: bold;
        text-decoration: underline;
        }

        #sidebar p {
            color: #065015;
            font-size: 1.4em;
            font-family: Impact;
        }

        .photo img {
            position: relative;
            height: 150px;
            width: 225px;
            top:20px;
        }